<div (click)="halfSelect(true)" [@activePlayer]="activeState(isTopActive)" [class]="topClass()">
  <div class="playerbar">
    <div class="padding namebar">
      <span class="name section">{{p[0]}}</span>
      <span class="timeouts section">{{t[0]}}</span>
    </div>
    <div class="padding scorebar">
      <span class="level section">Level {{l[0]}}</span>
      <span class="score section">
        <div class="deltaWrapper" *ngFor="let delta of score_adders[0];">
          <div @deltaAdder (@deltaAdder.done)="deltaDone(0)" class="plus_one">{{delta}}</div>
        </div>
        {{s[0]+rs[0]}}/{{max(l[0])}}: {{part(0)}} <span class="small">{{next(0)}}</span>
      </span>
    </div>
  </div>
</div>

<div (click)="halfSelect(false)" [@activePlayer]="activeState(!isTopActive)" [class]="bottomClass()">
  <div class="playerbar">
    <div class="padding namebar">
      <span class="name section">{{p[1]}}</span>
      <span class="timeouts section">{{t[1]}}</span>
    </div>
    <div class="padding scorebar">
      <span class="level section">Level {{l[1]}}</span>
      <span class="score section">
        <div class="deltaWrapper" *ngFor="let delta of score_adders[1];">
          <div @deltaAdder (@deltaAdder.done)="deltaDone(1)" class="plus_one">{{delta}}</div>
        </div>
        {{s[1]+rs[1]}}/{{max(l[1])}}: {{part(1)}} <span class="small">{{next(1)}}</span>
      </span>
    </div>
  </div>
</div>

<div class="gameStats">
  <div class="padding">
    Game: {{innings + rackInnings}} innings, {{max(l[0])-s[0]-rs[0]}} to {{max(l[1])-s[1]-rs[1]}} race
  </div>
</div>

<div class="rackStats">
  <div class="padding">
    Rack: {{rackInnings}} innings, {{rackBalls()}}, {{rs[0]}} to {{rs[1]}}
  </div>
</div>

<div class="buttons">
  <div class="padding">
    <table>
      <tr>
        <td><button (click)="ball()" [disabled]="ballDisabled()" mat-raised-button color="primary">Ball</button></td>
        <td><button (click)="lastBall()" mat-raised-button [disabled]="lastBallDisabled()" color="primary">9 Ball</button></td>
        <td><button (click)="deadBall()" [disabled]="deadDisabled()" mat-raised-button color="primary">Dead Ball</button></td>
      </tr>
      <tr>
        <td><button mat-raised-button [disabled]="ballDisabled()">Defense</button></td>
        <td><button (click)="timeout()" mat-raised-button [disabled]="timeoutDisabled()">Timeout</button></td>
        <td><button (click)="newRack()" mat-raised-button [disabled]="newRackDisabled()" color="primary">New Rack</button></td>
      </tr>
      <tr>
        <td><button (click)="undo()" mat-raised-button>Undo</button></td>
        <td><button (click)="redo()" mat-raised-button>Redo</button></td>
        <td><button (click)="edit()" mat-raised-button>Edit</button></td>
      </tr>
    </table>
  </div>
</div>